'use strict';

/**
 * This file just export an object with various parameters value depending on
 * environnement
 */

var prod = ('production' === process.env.NODE_ENV);
var test = ('test' === process.env.NODE_ENV);

module.exports.nodemailerOptions = {
  port: 587,
  host: 'smtp.mandrillapp.com',
  auth: {
    user: '',
    pass: ''
  }
};

if (prod) {
  module.exports.githubId = '';
  module.exports.githubSecret = '';
  module.exports.githubCommenterId = '';
  module.exports.githubCommenterSecret = '';
  module.exports.fbId = '';
  module.exports.fbSecret = '';
  module.exports.host = '';
  module.exports.appName = '';
} else {
  module.exports.debug = process.env.GITHUB_DEBUG ? true : false;
  module.exports.githubId = '';
  module.exports.githubSecret = '';
  module.exports.githubCommenterId = '';
  module.exports.githubCommenterSecret = '';
  module.exports.fbId = '';
  module.exports.fbSecret = '';
  module.exports.host = 'http://localhost:' + (process.env.PORT || 3000);
  module.exports.appName = '';
}

module.exports.invitations = false;
module.exports.invitationsHour = 1;
module.exports.twitterKey = '';
module.exports.twitterSecret = '';

if (test) {
  module.exports.dbUrl= 'mongodb://localhost/commentitTest';
} else {
  module.exports.dbUrl = 'mongodb://localhost/commentit';
}
