//- Copyright 2015 Guillaume Royer
//-
//- This file is part of Comm(ent|it).
//-
//- Comm(ent|it) is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- Comm(ent|it) is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with Comm(ent|it). If not, see <http://www.gnu.org/licenses/>.

extends ./layout.jade

block title
  | Admin

block content
  .row
    .col-md-6
      h1 Rate limits
      each githubApp in ['posting', 'login']
        h3= githubApp
        p
          ul
            li= 'Limit: ' + rateLimit[githubApp].limit
            li= 'Remaining: ' + rateLimit[githubApp].remaining
            li= 'Reset: ' + new Date(rateLimit[githubApp].reset*1000)
    .col-md-6
      h1 Users
      ul
        each user in userList
          li
            = user.username + ' / ' + user.email
