//- Copyright 2015 Guillaume Royer
//-
//- This file is part of Comm(ent|it).
//-
//- Comm(ent|it) is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- Comm(ent|it) is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with Comm(ent|it). If not, see <http://www.gnu.org/licenses/>.

extends ./layout.jade

block title
  | Home

block css

block content
  if (!fullyAuthenticated)
    #top.row
      .vertical-align-container.text-center
          .vertical-align-content
            .page-header
              h1.main-header.
                Github Pages comments in your hands
            .btn-group-home
              a.btn.btn-lg.btn-default(href="#read-more") Read more
              a.btn.btn-lg.btn-primary(href="/login") Sign-in with Github
  #read-more.row.text-center
    .row.text-center
    if (!fullyAuthenticated)
      hr
      .col-md-12.text-right
        a(href="#top") <i class="fa fa-chevron-up fa-4x"></i>
    .col-md-6.col-md-offset-3
      p.lead.
        Comm(ent|it) uses the Github API and Jekyll to help you store visitors
        comments directly in your repository.
    .col-md-4
      img(src="/static/images/github.png" height="100" width="100")
      h2 Connect with Github
      p.text-justify.
        Just link the service to your Github account and give the neccesary
        permissions to Comm(ent|it). Unless you ask for it, we will never
        commit to master. We create a feature branch and make pull requests.
        Github can also be used to authenticate your readers when they comment.
    .col-md-4
      img(src="/static/images/jekyll.png" height="100" width="100")
      h2 Edit your Jekyll template
      p.text-justify.
        Just add our form to your post template. The form adapts to your site
        color and style, and use as few javascript as possible. Then, use Liquid
        to loop over the list of comments and display them the way you
        want&nbsp;!
    .col-md-4
      img(src="/static/images/git.png" height="100" width="100")
      h2 Moderate with Git
      p.text-justify.
        By default, each comment generates a commit on a feature branch. A pull
        request is sent to merge the branch. To moderate comments before
        merging, just use <code>$&nbsp;git&nbsp;rebase&nbsp;-i&nbsp;master</code>
        and remove the unwanted comm(ent|it)s.
    .col-md-12.text-right
      if (!fullyAuthenticated)
        a(href="#bottom") <i class="fa fa-chevron-down fa-4x"></i>
      .row
        hr
  #bottom.row
    .col-md-4.text-left
      h1 Statistics
      h3 #{commentCount} comments posted
      h3 #{userCount} users registered
      h3
        = Math.floor(uptime/(1000*3600*24)) + ' days '
        = Math.floor((uptime%(1000*3600*24))/(1000*3600)) + ' hours '
        = Math.floor((uptime%(1000*3600))/(1000*60)) + ' minutes running'
      hr
      p.lead
        | Made at:
        ul
          li <a href="http://lefuniculaire.fr">Le Funiculaire</a>, Marseille, France
          li Gentilly, France
    .col-md-4
      h1 Features
      h3 User authentication with Github, Facebook or Twitter.
      h3 Post- and pre-moderation with git.
      h3 Profile pictures with Gravatar or Twitter.
      h3 Full control on comments display.
      h3 More questions ? See the <a href="/faq">FAQ</a>.
    .col-md-4.text-left
      h1 News
      a.twitter-timeline(href="https://twitter.com/guilro_", data-widget-id="565079167797305345", data-chrome="noheader nofooter noborders") Tweets de @guilro_
      script.
        !function(d,s,id) {var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

block javascript_footer
  script.
    $(document).ready(function() {
      $.localScroll();
    });
