//- Copyright 2015 Guillaume Royer
//-
//- This file is part of Comm(ent|it).
//-
//- Comm(ent|it) is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- Comm(ent|it) is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with Comm(ent|it). If not, see <http://www.gnu.org/licenses/>.

extends ./layout.jade

block title
  | Ask an invite

block content
  .row
    .col-md-6.col-md-offset-3.text-justify
      if invalidInvitation
        .alert.alert-warning.
          This invitation code does not exist or has already been used.
      h1.text-center Request an invitation
      p(style="margin-bottom: 60px").
        Invitation are sent to new users on a regular basis, as the service grows. If you do not want to wait, ask your friends ! Already registered user also gets invitations to share.
      form.form(method="post", action="/invitation")
        .form-group(class=(alreadyAsked ? "has-error": undefined))
          .input-group
            input.form-control.input-lg.text-center.input-alt(placeholder="email@example.com", type="email", name="email")
            span.input-group-btn
              button.btn.btn-lg.btn-primary(type="submit") <i class="fa fa-send"></i>
          if error
            span.help-block.text-center= error
