//- Copyright 2015 Guillaume Royer
//-
//- This file is part of Comm(ent|it).
//-
//- Comm(ent|it) is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- Comm(ent|it) is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with Comm(ent|it). If not, see <http://www.gnu.org/licenses/>.

extends ./layout.jade

block title
  | Terms of Service

block content
  .row
    .col-md-6.col-md-offset-3.text-justify
      h4 Commentit.io Terms of Service ("Agreement")
      p.
        Hi, I'm <a href="https://github.com/guilro">@guilro</a>. This agreement was
        last modified on March 28, 2015.
      p.
        By using or accessing commentit.io in any way, viewing the website or using the
        service, you are agreeing to be bound by these Terms of Service.
      p.
        I provide the service "as is" without warranty of any kind.
        I disclaim any and all implied warranties or conditions, including any
        implied warranty of title, noninfringement, merchantability or fitness
        for a particular purpose, regardless of whether I know or had reason to
        know of your particular needs. I do not warrant that the service will
        be timely, secure, uninterrupted, or error free; nor do I warrant that
        errors in the service will be fixed or otherwise corrected.
      h4 Contact me
      p.
        If you have any questions please feel free to contact me at
        <a href="mailto:contact@commentit.io">contact@commentit.io</a>.
